body{
    color: black;
    background-image:url("https://cvoutreach.com/wp-content/uploads/2016/06/cv-outreach-background-6.png");
    font-size: 0,5em;
    width: 97%;
    padding-left:0,65em;
}
@font-face{
font-family: 'ambleregular';
    src: url('fonts/Amble-Regular-webfont.eot');
    src: url('fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-Regular-webfont.woff2') format('woff2'),
         url('fonts/Amble-Regular-webfont.woff') format('woff'),
         url('fonts/Amble-Regular-webfont.ttf') format('truetype'),
         url('fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
section{
    font-family: 'ambleregular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    margin-left: 5em;
    padding-top: 2em;
    
}
#conteneur{
    display: flex;
    word-wrap: break-word;
}
header{
    text-align: center;
    padding-top: 1em;
}
div{
    text-align: center;
}
.flottant{
    border: 1px solid black;
    box-shadow: 0px 0px 3px black;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 1em 1em;
}

h2{
    color: peru;

}
#liseré{
    float: left;
    width: 90px;
    height: 550px;
    margin-left: 0px;
    background-color: black;
}


@media screen and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
  #liseré  
    {
        display: none;
        float: none;
    }
    #conteneur
    {
    display:left;
    flex-direction: column;
    }
}
